<div class="theme card w-screen h-screen">
  <div class="flex justify-content-center align-content-center flex-wrap card-container blue-container w-full h-full">
    <!-- <p-progressSpinner></p-progressSpinner> -->
    <div class="grid w-full h-full">
      <div class="flex justify-content-center align-content-center col-12 h-12rem mt-5">
        <div class="avatar">
          <img [src]="user.avatar_url">
        </div>
      </div>
      <div class="col-12 h-auto">

      </div>
    </div>

  </div>
</div>
